<div id="contairner-modal">
    <!-- Modal -->
    <div class="modal reportList" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">LISTADO DE INFORME POR CURSO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Informe por code</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="A785959" disabled>
                    </div>
                    <table class="table table-hover">
                        <thead class="table-thead">
                        <tr>
                            <th scope="col">Nombre del Estudiante</th>
                            <th scope="col">Temas a reforzar</th>
                            <th scope="col">Seleccionar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Ronald Genaro cutisaca</th>
                            <td>Tema 1 Tema 2 tema 3</td>
                            <td>
                                <div class="text-center">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Jacob</th>
                            <td>Tema 1 Tema 2</td>
                            <td>
                                <div class="text-center">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Salir</button>
                    <button type="button" class="btn btn-primary">Enviar Notificacion</button>
                </div>
            </div>
        </div>
    </div>
</div>